{% extends "layout.html" %}
{% block styles %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

<!-- Sidebar -->
{% block side_bar %}
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="sidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('home') }}">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Comp90024 Assignment Team 61</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Scenario selector -->
    <li class="nav-item active">
      <a class="nav-link">
        <i class="fas fa-fw fa-address-card"></i>
        <span>Scenario</span>
      </a>
      <select class="custom-select" id="scen_sel" name="scen_sel" onchange="ScenarioChange()">
        {% for option in option_list %}
          <option value="{{ option.Scenario }}" class="dropdown-item">{{ option.Scenario }}</option>
        {% endfor %}
      </select>
    </li>

    <!-- Graph selector -->
<!--    <li class="nav-item active">-->
<!--      <a class="nav-link">-->
<!--        <i class="fas fa-fw fa-database"></i>-->
<!--        <span>Graph Type</span>-->
<!--      </a>-->
<!--      <div class="radio-group" id="database-radio">-->
<!--        {% for database in option_list[0].databases %}-->
<!--          <div>-->
<!--            <label>-->
<!--              <input type="radio" name="database" id="{{ database.id }}"-->
<!--                     onclick="onDatabaseSelectChange('{{ database.name }}')"/>-->
<!--              {{ database.name }}-->
<!--            </label>-->
<!--          </div>-->
<!--        {% endfor %}-->
<!--      </div>-->
<!--    </li>-->

    <!-- Button Display  -->
    <button class="btn btn-light" id="searchBtn" onclick="display()">
      Display
    </button>

    <hr class="sidebar-divider">

    <button class="btn btn-light" id="MapBtn" onclick="map()">
      Map
    </button>




  </ul>
{% endblock %}

<!-- Display Area -->
{% block content %}
  <div id="map-title"></div>
  <div id="map">

  </div>
  <div name="visualize" style="width: 80%; position: relative; left: 20px;top: 20px;">
    <div id="chartArea_1" style="height: 500px">
      <div id="title_1">
      </div>
      <div class="chart-container", id="content_1" style="position: absolute;width: 40%;height: 40%;left:30px">
        <canvas id="ChartCanvas_1"
                style="position: relative;width: 400px; top: -20px ;height: 300px;left: 75px;display: block;"></canvas>
      </div>
    </div>



    <hr class="sidebar-divider">

    <div id="chartArea_2" style="height: 500px">
      <div id="title_2">

      </div>
      <div class="chart-container", id="content_2" style="position: absolute;width: 40%;height: 40%;left:30px">
        <canvas id="ChartCanvas_2"
                style="position: relative;width: 400px; top: -20px ;height: 300px;left: 75px;display: block;"></canvas>
      </div>
    </div>
  </div>
{% endblock %}


{% block javascript %}
  {{ super() }}
  <script src='http://www.google.com/jsapi'></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    google.charts.load('current', { 'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyBwHZIeCg5sBKTbc23_GYVaakkWqtBn6-0'});
          google.charts.setOnLoadCallback(drawRegionsMap);
    function getRandomColor() {
        var letters = '0123456789ABCDEF'.split('');
        var color = '#';
        for (var i = 0; i <6; i++ ) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    function drawBar(result){
        let ctx = getCtx('ChartCanvas_2');
        let res_data=result.data;
        let data_array_1=[];
        let data_array_2=[];
        let data_array_label=[];
        for (let i = 0; i<res_data.length; i++) {
          data_array_1.push(res_data[i][0]);
          data_array_2.push(res_data[i][1]);
          data_array_label.push(res_data[i][2]);
        }

        if (Window.chart !== undefined){
           Window.chart.destroy();
        }
        $('#map').empty();
        $('#map-title').empty();
      //   if (Window.geo_chart !== undefined){
      //
      //     Window.geo_chart.reset();
      //
      // }

        Window.chart = new Chart(ctx, {
            type:'bar', //bar, horizontalBar,pie,line,doughnut,radar,polarArea
            data:{
                labels:data_array_label,
                datasets:[{
                    label:result.xlabel,
                    yAxisID: 'y-axis-2',
                    data:data_array_1,
                    backgroundColor:'rgba(255,99,132,0.6)',
                    borderWidth:1,
                    borderColor:'#777',
                    hoverBorderWidth:3,
                    hoverBorderColor:'#000'
                },
                {
                    label:result.ylabel,
                    data:data_array_2,
                    backgroundColor:'rgba(75,192,192,0.6)',
                    borderWidth:1,
                    borderColor:'#777',
                    hoverBorderWidth:3,
                    hoverBorderColor:'#000'
                }]
            },
            options:{
                responsive: true,
                maintainAspectRatio: false,
                title:{
                    display:true,
                    text:result.title,
                    fontSize:25
                },
                legend:{
                    position:'bottom',
                    labels:{
                        fontColor:'#000'
                    }
                },
                // layout:{
                //     padding:{
                //         left:100,
                //         right:0,
                //         top:100,
                //         bottom:0
                //     }
                // },
                tooltips: {
                    mode: 'index',
                        intersect: true
                },
                scales: {
                    yAxes: [{
                        type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                        display: true,
                        position: 'left',
                        id: 'y-axis-1',
                    }, {
                        type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                        display: true,
                        position: 'right',
                        id: 'y-axis-2',
                        gridLines: {
                            drawOnChartArea: false
                        }
                    }],
                }
            }
        });


    }



    function drawScatter(result){
      let res_data=result.data;
      let dataset_array=[];
      for (let i =0; i<res_data.length; i++){
          let temp = res_data[i];
          // alert(temp);
          dataset_array.push({
            label:temp[2],
            backgroundColor: getRandomColor(),
            data:[{x:temp[0],y:temp[1]}]
          });
      }
      // alert(dataset_array[0].data[0].x)
      // // if (Window.bar !== undefined) {
      // //   Window.bar.destroy();
      // // }
      $('#map').empty();
      $('#map-title').empty();
      let ctx = getCtx('ChartCanvas_1');
      if (Window.bar !==undefined){
        Window.bar.destroy();

      }
      // if (Window.geo_chart !== undefined){
      //
      //     Window.geo_chart.reset();
      //
      // }
      Window.bar = new Chart.Scatter(ctx,{
            data: {
              datasets:dataset_array,
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              title: {
                display: true,
                text: result.title,
                fontSize: 24,
                fontColor: 'black',
              },
              // layout:{
              //       padding:{
              //           left:100,
              //           right:0,
              //           top:100,
              //           bottom:0
              //       }
              // },
              scales: {
                xAxes: [{
                  scaleLabel: {
                    display: true,
                    labelString: result.xlabel
                  }
                }],
                yAxes: [{
                  scaleLabel: {
                    display: true,
                    labelString: result.ylabel
                  }
                }]
              }
            }
      });
    }



    function getCtx(canvas){
      return document.getElementById(canvas).getContext('2d');
    }

    /**
     * click search button,
     * submit form data by ajax
     */
    function display() {
      let case_sel = $("#scen_sel").val();
      // let selectedDatabase = getRadioValByName("database-radio", 'database');

      let data = {
        sel_case: case_sel,
        // graph: selectedDatabase,
      };

      let options = {
        url: "{{ url_for('display') }}",
        dataType: "json",
        contentType: "application/json",
        type: "post",
        data: JSON.stringify(data),
      };

      $.ajax(options)
          .done(function (responseText){
            // alert(responseText.dataset);
            // drawPie(responseText);
            drawScatter(responseText);
            drawBar(responseText);
          });
    }

    /**
     * get value of the radio in the radio group
     * @param element radio group
     * @param name name of the radio
     * @returns id of the radio
     */
    function getRadioValByName(element, name) {
      let val;
      let radio = $('[name=' + name + ']:checked');
      val = radio.attr('id');
      return val;
    }

    function map(){
      let data = {
        sel_case: 'map',
        url:"localhost:5000/map"
      };

      let options = {
        url: "{{ url_for('map') }}",
        dataType: "json",
        contentType: "application/json",
        type: "post",
        data: JSON.stringify(data),
        success: function (responseText) {
        if (Window.chart !==undefined) {
          Window.chart.destroy();
        }
        if (Window.bar !==undefined) {
          Window.bar.destroy();
        }
        $('#map-title').empty();
        var $h3=$("<h3>Covid_Sentiment_by_Cities</h3>");
        $('#map-title').append($h3);
        let result = responseText
        var data = google.visualization.arrayToDataTable(result);
        var options = {region:'AU',
                       colorAxis: {colors:['blue','red']},
                       displayMode: 'markers',
                       datalessRegionColor: '#faebd7',
                       defaultColor: '#f5f5f5'
                      //  resolution:'markers',
                      //  legend: 'Covid_Sentiment_Assessment',
                      //  sizeAxis: {minValue: 0, maxValue: 0.2, minSize: 0.01, maxSize: 0.1},
                      //  keepAspectRatio: true,
                      //  width: 800,
                      //  height: 500,
                      //  magnifyingGlass: {enable: true, zoomFactor: 7.5},
                      //  domain:"IN",
                      //  tooltip: {isHtml: true},
                      //  legend:{textStyle: {color: 'blue', fontSize: 16}}
        };

        Window.geo_chart = new google.visualization.GeoChart(document.getElementById('map'));
        Window.geo_chart.draw(data, options);

        },
      };
      $.ajax(options).done;
    }

  </script>
{% endblock %}
